@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
*{
    font-family: 'JetBrains Mono', monospace;
    border-radius: 5px;
}
header{
    padding: 1px;
    margin-bottom: 5px;
    text-align: center;
}
div{
    padding: 0.5cm;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    text-align: left;
}
table, td, th{
    border: 1px solid black;
    padding: 5px;
    border-radius: 0px;
    border-collapse: collapse;
    text-align: center;
}
section{
    width: 50%;
    padding: 0.25cm;
    float: left;
    margin-right: 5px;
}
article{
    padding: 0.25cm;
    margin-top: 5px;
    margin-bottom: 5px;
    overflow: hidden;
}
aside{
    width: 46.5%;
    padding: 0.25cm;
    float: right;
    margin-left: 5px;
    overflow: hidden;
}
input[type=text]{
    width 100%;
}
input[type=checkbox]{
    width: 20px;
    margin: .4rem;
}
input[type=submit] {
    border-radius: 0px;
    background-color: #fff25e;
    border: 0px solid;
    padding: 5px;
    margin: 5px;
}
/*=============================*/
.modal-container{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(195, 230, 199, 0.5);
    align-items: center;
    justify-content: center;
}
.modal{
    padding: 0.5cm;
    width: 50%;
    max-width: 100%;
}
/*=============================*/
.menu{
    background-color: #edaa77;
    overflow: hidden;
}
.menu a{
    text-decoration: none;
}
.menu-item{
    list-style: none;
    margin: 5px;
}
.btn{
    display: block;
    padding: 5px;
    background-color: #f7eb9c;
    position: relative;
}
.menu-item-content{
    margin-top: 0px;
    background-color: #cbf79c;
    display: none;
    transition: max-height 0.2s;
    max-height: 0px;
}
.menu-item-content div{
    position: relative;
    margin: 0px;
}
.menu-item:target .menu-item-content{
    display: block;
    max-height: 10em;
    padding: 0px;
}
/*=============================*/
.basicCon{
    display: flex; 
    overflow: hidden;
}
